services:
  frontend:
    build:
      context: ./steamerfy.client
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Steamerfy.Server/Dockerfile
    ports:
      - "5063:5063"
    environment:
      - ASPNETCORE_URLS=http://+:5063
      - STEAM_API_KEY=${STEAM_API_KEY}
      - Azure__SignalR__ConnectionString=${AZURE_SIGNALR_CONNECTION_STRING}