version: '3.4'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "4200:443"
    depends_on:
      - backend
    environment:
      - APPDATA=/root/.aspnet

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5063:5063"
    environment:
      - ASPNETCORE_URLS=https://+:5063
      - ASPNETCORE_Kestrel__Certificates__Default__Password=your-password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/root/.aspnet/https/your-app.pfx
      - APPDATA=/root/.aspnet
    volumes:
      - $APPDATA/ASP.NET/https:/root/.aspnet/https