.toggle-btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  left: -30px;
  margin: 0;
  padding: 0;
  z-index: 2;
  border-radius: 10px 0px 0px 10px;
  transition: left 0.3s ease;
}

.sidebar {
  border-radius: 20px 0px 0px 20px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  max-width: 100%;
  padding: 0px; /* Optional: Adjust padding as needed */
}

.player-avatar {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border: 2px solid black;
}

.player-name {
  flex-grow: 1;
  margin: 0 10px;
  overflow: hidden;
  word-break: break-word;
}

.player-tags {
  margin-right: 10px;
  width: 50px;
  flex-shrink: 0;
}

.player-tags .badge {
  display: block;
  text-align: center;
}

.player-score {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  text-align: center;
  margin: 0;
  padding: 5px;
}
