.toggle-btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  left: -30px;
  margin: 0;
  padding: 0;
  z-index: 2;
  border-radius: 10px 0px 0px 10px;
  transition: left 0.3s ease;
}

.ofellipses{
    text-overflow: ellipsis
}
