.sidebar-container {
  position: relative;
}

.toggle-btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  left: -31px;
  margin: 0;
  padding: 0;
  z-index: 2;
  border-radius: 10px 0px 0px 10px;
  transition: left 0.3s ease;
}

.ofellipses{
    text-overflow: ellipsis
}

.sidebar {
  width: 25%;
  transition: transform 0.3s ease;
}

.sidebar-open {
  transform: translateX(0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar-closed {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar-open ~ .toggle-btn {
  left: 250px;
}

.sidebar-closed ~ .toggle-btn {
  left: 0;
}
