.timer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  transform: rotate(-90deg);
}

.no-transition{
    transition: none !important;
}

.circle {
  stroke: #0e1111;
  stroke-width: 14;
  fill: transparent;
  transition: stroke-dashoffset 1s linear;
}

.circle-outer {
  stroke: rgb(128, 128, 128);
  stroke-width: 12;
  fill: transparent;
}

.timer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A9A9A9;
  font-size: 2em;
  font-weight: 700;
}

span {
  margin-bottom: 10px;
}
