<div class="container mt-5 d-flex flex-column align-items-center">
  <!-- App Name Header -->
  <h1 class="text-center">Steamerfy</h1>

  <!-- Lobby Card -->
  <div class="card mt-4 bg-body-primary rounded-5">
    <div class="card-body">
      <!-- User ID Input -->
      <input type="text" class="form-control rounded-5 bg-light text-dark text-center fs-4 mb-2" style="height:80px;"
             id="steamId" placeholder="Enter Steam ID" [(ngModel)]="steamId">

      <!-- Create and Join Lobby Buttons -->
      <div class="text-center mt-4">
        <div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
          <button class="btn btn-primary m-1 w-100" (click)="createLobby()">Create Game</button>
          <h4 class="text-dark-emphasis mt-1">Max Rounds: </h4>
          <div class="d-flex flex-column w-50 justify-content-center align-items-center">
            <span class="h5 text-secondary mb-0">{{ MaxRounds }}</span>
            <input type="range" class="w-75 custom-range"
                   placeholder="Max Rounds" [(ngModel)]="MaxRounds" max="10" min="2" />
          </div>
        </div>
        <h3 class="text-dark-emphasis m-0">OR</h3>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <input type="text" class="form-control rounded-5 bg-light text-dark text-center m-1 w-100"
                 id="gameId" placeholder="Enter Game ID" [(ngModel)]="lobbyId">
          <button class="btn btn-success m-1 w-100" (click)="joinLobby()">Join Game</button>
        </div>
      </div>
    </div>
  </div>
</div>
