<div class="container mt-5 d-flex flex-column align-items-center">
  <!-- App Name Header -->
  <h1 class="text-center">Steamify</h1>

  <!-- Lobby Card -->
  <div class="card mt-4 bg-secondary rounded-5">
    <div class="card-body">
      <!-- User ID Input -->
      <input type="text" class="form-control rounded-5 bg-light text-dark text-center fs-4 mb-2" style="height:80px;"
             id="steamId" placeholder="Enter Steam ID" [(ngModel)]="steamId">

      <!-- Create and Join Lobby Buttons -->
      <div class="text-center mt-4">
        <div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
          <button class="btn btn-primary m-1 w-100" (click)="createLobby()">Create Game</button>
          <h4 class="text-dark-emphasis mt-1">Max Rounds: </h4>
          <div class="d-flex flex-column w-50 justify-content-center align-items-center">
            <span class="h5 text-primary mb-0">{{ MaxRounds }}</span>
            <input type="range" class="w-75 custom-range"
                   placeholder="Max Rounds" [(ngModel)]="MaxRounds" max="15" min="2" />
          </div>
        </div>
        <h3 class="text-dark-emphasis m-0">OR</h3>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <input type="text" class="form-control rounded-5 bg-light text-dark text-center m-1 w-100"
                 id="gameId" placeholder="Enter Game ID" [(ngModel)]="lobbyId">
          <button class="btn btn-success m-1 w-100" (click)="joinLobby()">Join Game</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <!-- About Section -->
    <div class="col-md-4">
      <div class="card w-100">
        <div class="card-body">
          <h2 class="card-title text-center">About Steamify</h2>
          <p class="card-text">Steamify is a quiz app that asks you questions based on your Steam library. Enter your Steam ID, and we'll generate a quiz tailored to the games you own. Test your own knowledge or challenge your friends and see who comes out on top!</p>
        </div>
      </div>
    </div>
    <!-- Steam ID Section -->
    <div class="col-md-4">
      <div class="card w-100">
        <div class="card-body">
          <h2 class="card-title text-center">How to Find Your Steam ID</h2>
          <p class="card-text">To find your Steam ID, follow these simple steps:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1. Open Steam and log in to your account.</li>
            <li class="list-group-item">2. Click on your profile name in the top-right corner and select 'View Account Details'.</li>
            <li class="list-group-item">3. Your Steam ID is located just under the "X's Account" at the top of the page.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Monetization Section -->
    <div class="col-md-4">
      <div class="card w-100">
        <div class="card-body">
          <h2 class="card-title text-center">Monetization Model</h2>
          <p class="card-text">
            Steamify is free for everyone. I am working on getting ads to help support the app. If you would like to help cover the costs of the site, please consider donating to my Ko-fi.
            Thank you for your support!
          </p>
          <a href='https://ko-fi.com/E1E510OOVQ' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </div>
      </div>
    </div>
  </div>
</div>
