body {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  font-family: 'Arial', sans-serif;
}

.container {
  height: 30vh;
  color: white;
}

.podium-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.podium {
  position: relative;
  width: 150px;
  margin: 0 1%;
  text-align: center;
  animation: rise 2s ease forwards;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.podium-0 {
  height: 60%;
  order: 2;
}

.podium-1 {
  height: 50%;
  order: 1;
}

.podium-2 {
  height: 40%;
  order: 3;
}

.medal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
}

.medal-0 {
  background: gold;
}

.medal-1 {
  background: silver;
}

.medal-2 {
  background: #cd7f32;
}

.player-avatar {
  position: absolute;
  top: -120px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 5px solid white;
  overflow: hidden;
}

  .player-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.player-info {
  position: relative;
  top: 10px;
  color: white;
}

@keyframes rise {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
