<div class="d-flex justify-content-evenly game-animation flex-column flex-wrap" [ngClass]="{'content-collapsed': showSidebar, 'content-expanded': !showSidebar}">
  <div class="d-flex flex-row justify-content-around bg-secondary-subtle m-2 rounded-4 border-4 shadow border-primary border align-items-center flex-wrap">
    <div>
      <app-timer class="w-auto"></app-timer>
      <button *ngIf="gs.isUserHost()" class="m-2 btn-primary btn z-5" (click)="StartNextQuestion()" [disabled]="!canSkip && !canStart">{{canSkip ? "Skip" : (canStart ? "New Question" : "Wait...")}}</button>
    </div>
    <img *ngIf="question.QuestionURL != ''" [src]="question.QuestionURL" class="m-2 border border-4 border-primary-subtle rounded-4 header-sizes-image" />
    <h5 class="text-primary-emphasis header-sizes-text" >{{question.QuestionText}}</h5>
  </div>
</div>
<ul class="d-flex flex-row flex-wrap m-0 pe-2 w-auto, flex-wrap" [ngClass]="{'content-collapsed': showSidebar, 'content-expanded': !showSidebar}">
  <li *ngFor="let option of question.ImageURLAndOption; let i = index"
      class="list-group-item p-2 d-flex justify-content-around rounded-5 position-relative shadow option"
      [ngClass]="{
      'bg-secondary': !showAnswers,
      'bg-success-subtle': showAnswers && question.Answer === i,
      'bg-danger-subtle': showAnswers && question.Answer !== i,
      'opacity-50': selectedAnswer !== i && selectedAnswer !== -1 && !showAnswers,
      'border border-dark border-3': selectedAnswer === i
    }">
    <div *ngIf="showAnswers" class="player-answers position-absolute top-0 start-0 w-100 h-100 d-flex flex-wrap justify-content-end align-items-center z-2">
      <div *ngFor="let player of gs.Players" [ngClass]="{'player-avatar-container': player.SelectedAnswer === i}">
        <img *ngIf="player.SelectedAnswer === i"
              [src]="player.AvatarUrl"
              [ngClass]="{
              'border-success': isPlayerCorrect(player),
              'border-danger': !isPlayerCorrect(player)
            }"
              class="player-avatar border border-3 m-1" width="80" height="80">
      </div>
    </div>
    <img [src]="option[0]" height="100" width="100" class="border border-primary rounded-3 border-4" [ngClass]="{'opacity-50': disableButtons && selectedAnswer !== i && !showAnswers}" />
    <button class="btn btn-primary w-75 m-1 z-1" height="100" (click)="onAnswer(i)" [disabled]="disableButtons">{{option[1]}}</button>
  </li>
</ul>
<app-sidebar (onSidebarChange)="showSidebar=$event" [ngClass]="{'sidebar-open': showSidebar, 'sidebar-closed': !showSidebar}" class="sidebar z-3"></app-sidebar>
